<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>criar conta</title>
</head>
<body>
    <h1>criar conta</h1>

    <form>
        <label for="nome">nome</label>
        <input type="nome" name="nome" id="nome">

        <label for="Sobrenome">Sobrenome</label>
        <input type="Sobrenome" name="Sobrenome" id="Sobrenome">

        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="password">Senha</label>
        <input type="password" name="password" id="password">

        <label for="password">confirme a senha</label>
        <input type="password" name="password" id="password">

        <button type="submit">Entrar</button> 
        <a href="/criar-conta">Criar conta</a>
</body>
</html>