<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar evento</title>
</head>

<body>
    <form>

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">

        <label for="data">data</label>
        <input type="date" name="data" id="data">

        <label for="local">Local</label>
        <input type="text" name="local" id="local">

        <button type="submit">Criar</button>

    </form>
</body>

</html>